<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
</head>
<body>
    <h1>Scan QR code di bawah untuk menyelesaikan booking-an</h1>
    <img src="<%= qr %>"><br>
    <a href="">Kembali ke menu utama setelah Anda mengkonfirmasi</a>
</body>
</html>