<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Booking</title>
</head>
<body>
    <h1>Selamat booking-an Anda sudah berhasil</h1>
    <a href="/">Back To Home</a>
</body>
</html>